body {
    background: #343a40;
}

h6 {
    display: inline;
    padding-right: 8px;
}


/* ------------- Left Content Area ------------ */

#logo {
    max-width: 150px;
    width: 100%
}

#search-icon,
#stream-icon,
#popcorn-icon {
    max-width: 125px;
    width: 100%;
}

#left {
    border-right: 4px solid #ef4273;
}

/* .left-contents {
    /*--- Fill for Responsive ---*/
/* } */ */

#submit {
    background: #ef4273;
    border: 1px solid #f5608a;
}

#submit:hover {
    background: #f69075;
    border: 1px solid #f78667;
}


/* ------------ Review/Ratings ------------------*/

#imdb-img {
    max-width: 50px;
}

#rt-audience-img {
    max-width: 22px;
}

#rt-fresh-img {
    max-width: 28px;
}

#imdb-score,
#rt-aud-score,
#metacritic-score {
    font-weight: bolder;
    padding-left: 2px
}


/* ----------- Favorite Heart -----------*/

.fa-heart {
    cursor: pointer;
}

.fa-heart:hover::before {
    color: #ef4273;
}

#map {
    height: 100%;
    float: left;
    padding: 5%;
    width: 100%;
    background-color: grey;
}


/* -------------- Favorite Section -------------- */

.fav-buttons-below,
.fav-info-buttons {
    width: 100%;
    padding: 0;
}

.favorite-card {
    width: 145px;
    float: left;
    margin: 4px 4px;
}

.fav-img {
    height: 210px;
    width: auto;
}

.info-btn {
    background: #ef4273;
    border: 1px solid #f5608a;
}

.info-btn:hover {
    background: #ec6188;
    border: 1px solid #e97898;
}

.remove-btn {
    background: #202e5e;
    border: 1px solid #34457e;
}

.remove-btn:hover {
    background: #333f68;
    border: 1px solid #4d587a;
}

#streaming-info,
#movie-info,
#trailer {
    display: none;
}


/* --------------- Streaming Section ------------------ */

#stream-platform-netflix,
#stream-platform-amazon-prime,
#stream-platform-amazon-instant,
#stream-platform-itunes {
    max-width: 200px;
    width: 100%;
}

.fa-check {
    color: green;
    font-size: 5vw;
}

.fa-times {
    color: red;
    font-size: 5vw;
}


/* ----------Styling for an info pane that slides out from the left. Hidden by default. ------*/

#panel {
    /* height: 40%; */
    /* width: 20px; */
    background-color: white;
    position: absolute;
    float: left;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
}

.open {
    width: 300px;
}


/* --------- Styling for place details ------------------ */

.hero {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
}

.place {
    font-family: 'open sans', arial, sans-serif;
}

.details {
    color: darkslategrey;
}

a {
    text-decoration: none;
    color: cadetblue;
}

.map-text {
    color: black;
    background-color: bisque;
    font-size: 50px;
}

#search {
    padding-bottom: 1px;
    margin-bottom: 5px;
    background-color: #ef4273
}

#zipCode {
    margin-left: auto;
}


/* -------------- Addtional Responsiveness outside of Bootstrap ----- */

@media screen and (min-width: 1200px) {
    .fa-check,
    .fa-times {
        font-size: 60px;
    }
}

#map-container-google-2 {
    overflow: auto;
}
/*--------------NEW CODE-----------------------------*/

.color-blk {

    color: black;
}

.card-header:first-child {
    color: black;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

#movie-title-display {
    max-height: 87vh;
    color: black;
    /* max-height: calc(100vh - 272px); */
    overflow: auto;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: black;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.card {
    color: black;
    background-color: white;
}

.card-text.text-black {
    color: black;
}