body {
    background: lightslategray;
}

h6{
    display:inline;
    padding-right: 8px;
}


/* ------------ Review/Ratings ------------------*/
#imdb-img{
    max-width: 50px ;
}

#rt-audience-img{
    max-width: 28px ;
}

#rt-fresh-img{
    max-width: 28px ;
}

#imdb-score, #rt-aud-score, #rt-fresh-score{
    float:right;
    font-weight: bolder;

}

/* ----------- Favorite Heart -----------*/
.fa-heart{
    float:right;
    cursor: pointer;
}

.fa-heart:hover::before{
    color:palevioletred;
}

/* -------------- Favorite Section -------------- */ 
#fav-buttons-below, #fav-info-buttons{
    width:100%;
    padding:0;
}


#favorite-card{
    max-width: 145px;
    float:left;
    margin: 4px 4px;
}

/* --------------- Streaming Section ------------------ */

#stream-platform{
    max-width:200px;
    width:100%;
    
}

.fa-check{
    color:green;
    font-size: 5vw;
}

.fa-times{
    color:red;
    font-size: 5vw;
}



/* -------------- Addtional Responsiveness outside of Bootstrap ----- */
@media screen and (min-width: 1200px) {
    .fa-check, .fa-times {
       font-size: 60px;
    }